{% extends "main/main.html" %}
{% load static %}

{% block content %}
<div class="upiterhistory">
    <div class="backup">
        <div class="block-back">
            <div  class="back"><a href="{% url "upiter" %}" class="a" id="upitermain" ><ion-icon class="iconback" name="arrow-back-outline"></ion-icon></a></div>
            <h2>Home</h2>
        </div>
    </div>
    <div class="block-options">
        <div class="filter"><img class="img" src="{% static 'main/Frame (3).png' %}" alt=""></div>
        <div class="block-date"><p>per  jan  2024</p></div>
        <div class="button-close"><ion-icon class="iconclose" name="close-outline"></ion-icon></div>
        <div class="input-block">
            <form class="form" action="" autocomplete="off">
                {% csrf_token %}
                <div class="block-btn">
                    <button class="searchbtn" type="button"><ion-icon class="lupa" name="search-outline"></ion-icon></button>
                </div>
                <div class="blocksearch">
                    <input class="search" type="text" placeholder="Search" name="search" autocomplete="off">
                </div>
                
            </form>
        </div>
    </div></br>
    <div class="block-transac-analitic">
        <div class="block-transactions">
            {% comment %} Delete {% endcomment %}
            
        </div>
        <div class="block-diagrams">
            <div class="circle">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
    <div class="opacity-block"></div>
</div>
{% endblock%}

{% block script%}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var transferss = {{ transfers | safe}};
        var sender = {{ sender | safe}};
        var sendersur = {{ sendersur | safe }}
        var images = {{images | safe}}        
        var histtransfer = {{ histtransfer | safe}}

        var ttransfers = []
        var transfers = []
        for(var i = 0; i < transferss.length; i++){
            ttransfers.push(transferss[i]);
        }
        for(var i = 0; i < histtransfer.length; i++){
            ttransfers.push(histtransfer[i]);
        }
        console.log(ttransfers);
        
        for (var i = 0; i < ttransfers.length; i++) {
            if (transfers.some(item => item.id === ttransfers[i].id)) {
                continue;
            } else {
                transfers.push(ttransfers[i]);
            }
        }

        const sortByDateTime = (transfers) => {
            return transfers.sort((a, b) => {
                if(a.Date < b.Date){
                    return 1;
                }
                if(a.Date > b.Date){
                    return -1 ;
                }
                if(a.Time < b.Time){
                    return 1;
                }
                if(a.Time > b.Time){
                    return -1;
                }
            })
        }
        var sortedTransfers = sortByDateTime(transfers);

        const AddHistoryElement = (el, sender, sendersur) =>{
            container = document.querySelector(".block-transactions");
            container.innerHTML = '';
            var send = 0;
            for(var i = 0; i < el.length ; i++){
                var historyEl = el[i];
                console.log(historyEl)
                if(historyEl.Sender == sender && historyEl.SenderSurname == sendersur ){
                    photo = CheckImage(images, "Up");
                    symbol = "-";
                    card = "****" + (historyEl.WhereFrom.substring(historyEl.WhereFrom.length - 4));
                    pattern(container, photo, historyEl, symbol, card);
                }
                if(historyEl.Recipient == sender && historyEl.RecipientSurname == sendersur)
                {
                    photo = CheckImage(images, "Down");
                    symbol = " ";
                    card = "****" + (historyEl.WhereFrom.substring(historyEl.WhereFrom.length - 4));
                    pattern(container, photo, historyEl, symbol, card);
                }
                
            }
            SetImage();
            SetDateTime();
        }

        const SearchAddHistoryElement = (el, sender, sendersur, param) =>{
            container = document.querySelector(".block-transactions");
            container.innerHTML = '';
            var send = 0;
            for(var i = 0; i < el.length ; i++){
                var historyEl = el[i];
                console.log(historyEl)
                if(historyEl.Recipient.includes(param) || historyEl.RecipientSurname.includes(param) || historyEl.Sender.includes(param) || historyEl.SenderSurname.includes(param)){
                    if(historyEl.Sender == sender && historyEl.SenderSurname == sendersur ){
                        photo = CheckImage(images, "Up");
                        symbol = "-";
                        card = "****" + (historyEl.WhereFrom.substring(historyEl.WhereFrom.length - 4));
                        pattern(container, photo, historyEl, symbol, card);
                    }
                    if(historyEl.Recipient == sender && historyEl.RecipientSurname == sendersur)
                    {
                        photo = CheckImage(images, "Down");
                        symbol = " ";
                        card = "****" + (historyEl.WhereFrom.substring(historyEl.WhereFrom.length - 4));
                        pattern(container, photo, historyEl, symbol, card);
                    }
                }
            }
            SetImage();
            SetDateTime();
        }

        const pattern = (container, photo, mass, symbol, card)=>{
            var hisEl = document.createElement("div");
                hisEl.className = "transactions"
                hisEl.innerHTML = 
                '<div class="firsttran">'+
                    '<div class="tranicons"><img class = "arrow" data-img="' + photo + '" src="" alt=""></div>'+
                        '<div class="trandate">' +
                            '<div class="p1"><p>'+ mass.Sender +'</p></div>' +
                            '<div class="p2"><p class="DateTime" data-value="' + mass.Date + '"  data-time="' + mass.Time + '"></p></div>' +
                        '</div>' +
                    '</div>' + 
                    '<div class="tranfrom">' + 
                        '<div class="p1"><p>From:</p></div>' +
                        '<div class="p2"><p>'+ mass.CardNameOffs + " " + card + '</p></div>'+
                    '</div>' +
                    '<div class="transumm">'+ symbol + mass.Summ +" $" +'</div>' +
                '</div>';
                SetDateTime();
                
                

            container.appendChild(hisEl);
        }
        function CheckImage(images, el){
            var image = ""
            for(var i = 0; i < images.length; i++ ){
                image = images[i];
            }
            if(el == "Up"){
                return image.ImageUp;
            }
            if(el == "Down"){
                return image.ImageDown;
            }
            
        }
        AddHistoryElement(sortedTransfers, sender, sendersur);
        
        document.querySelector(".form").addEventListener("input", (event) =>{
            event.preventDefault();
            var el = document.querySelector(".search").value;
            if (el.trim() != ""){
                SearchAddHistoryElement(sortedTransfers, sender, sendersur, el);
            }
            else{
                AddHistoryElement(sortedTransfers, sender, sendersur);
            }
        });
   
        function SetImage(){
            const imageArrows = document.querySelectorAll('.arrow');
            imageArrows.forEach(imageArrow => {
                imageArrow.src = imageArrow.getAttribute("data-img");
            });
        }
        
        function SetDateTime(){
            const dateTimes = document.querySelectorAll('.DateTime');
                dateTimes.forEach( dateTime =>{
                    var date = new Date(dateTime.getAttribute("data-value"));
                    var time = dateTime.getAttribute("data-time").substring(0,5);


                    let dayOfMonth = date.getDate();
                    let monthNames = ['jan', 'Feb', 'Mar', 'Apr',
                    'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct',
                    'Nov', 'Dec'];
                    
                    let monthName = monthNames[date.getMonth()];
                    let result = dayOfMonth + ' ' + monthName;
                    dateTime.textContent = result + " " + time;
                });
        }

        const GetSumm = (el, sender, sendersur) =>{
            var get = 0;
            for(var i = 0; i < el.length ; i++){
                var historyEl = el[i];
                if(historyEl.Recipient == sender && historyEl.RecipientSurname == sendersur)
                {
                    get += parseFloat(historyEl.Summ);
                }
                
            }
            return get;
        }

        const SendSumm = (el, sender, sendersur) =>{
            var send = 0;
            for(var i = 0; i < el.length ; i++){
                var historyEl = el[i];
                if(historyEl.Sender == sender && historyEl.SenderSurname == sendersur )
                {
                    send += parseFloat(historyEl.Summ);
                }
                
            }
            return send;
        }

        var get = GetSumm(sortedTransfers, sender, sendersur);
        var send = SendSumm(sortedTransfers, sender, sendersur);
        console.log(" Полученно: " + get);
        console.log("Отправленно: " + send);
        const ctx = document.getElementById('myChart').getContext("2d");
        let myChar = new Chart(ctx, {
            type: "pie",
            data:{
                labels: ['send', 'get'],
                datasets:[{
                    label: "Transactions",
                    data: [send, get],
                    backgroundColor: ["#9300FF", "#23ff00"],
                    borderColor: [send, get],
                    borderWidth: 2
                }]
            },
            options: {
                maintainAspectRatio: true,
                responsive: true,
                height: 100, 
                width: 100   
            }
        });
});
        
</script>
{% endblock %}