{% extends 'main/main.html'%}
{% load static %}

{% block content %}

<div class = "upitermain open">
        <div class="greeting"><h1>Welcome {% for el in usersess %}{{el.name}}! {% endfor%}</h1></div>
        {% comment %} Блок с картами {% endcomment %}
        <div class="card-block">
            <div class="content-card">
                <div class="card debit">
                    <div class="card-main">
                        <div class="card-header">
                            <div class="card-name" ><p>{{debitcard.CardName}}</p></div>
                            <div class="numberOfcard"><p class="ppp" data-value="{{debitcard.numbercard}}" id ="numbercard"></p></div>
                        </div>
                        <div class="card-check">
                            <p class="valuta">$</p>
                            <p class="money">{{debitcard.Check}}</p>
                        </div>
                        <div class="footer-card">
                            <div class="cash-back">
                                <img src="{{debitcard.ImageCB.url}}" alt="">
                                <p>{{debitcard.CashBack}}</p>
                            </div>
                            <div class="payment-system">
                                <img src="{{debitcard.ImagePaymentSys.url}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-card">
                <div class="card credit">
                    <div class="card-main">
                        <div class="card-header">
                            <div class="card-name" ><p>{{creditcard.CardName}}</p></div>
                            <div class="numberOfcard"><p class="ppp" data-value ="{{creditcard.numbercard}}" id ="numbercard"></p></div>
                        </div>
                        <div class="card-check">
                            <p class="valuta">$</p>
                            <p class="money">{{creditcard.Check}}</p>
                        </div>
                        <div class="footer-card">
                            <div class="cash-back credits">
                                <img src="{{creditcard.ImageCB.url}}" alt="">
                                <p>{{creditcard.CashBack}}</p>
                            </div>
                            <div class="payment-system">
                                <img src="{{creditcard.ImagePaymentSys.url}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-card">
                {% if platinumcard != 0 %}
                <div class="card platinum">
                    <div class="card-main">
                        <div class="card-header">
                            <div class="card-name" ><p>{{platinumcard.CardName}}</p></div>
                            <div class="numberOfcard"><p class="ppp" data-value ="{{platinumcard.numbercard}}"></p></div>
                        </div>
                        <div class="card-check">
                            <p class="valuta">$</p>
                            <p class="money">{{platinumcard.Check}}</p>
                        </div>
                        <div class="footer-card">
                            <div class="cash-back ">
                                <img src="{{platinumcard.ImageCB.url}}" alt="">
                                <p>{{platinumcard.CashBack}}</p>
                            </div>
                            <div class="payment-system">
                                <img src="{{platinumcard.ImagePaymentSys.url}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="card addplatinum">
                    <div class="card-main"></div>
                </div>
                {% endif %}
            </div>
        </div>
        {% comment %} Конец блока крат {% endcomment %}
        <div class = "QuickTransfer">
            <div class="quick_header"><h6>Quick Transfers</h6></div>
            <div class="list_peoples">

                {% for el in users%}
                <div class="people">
                    <div class="pip">
                        <form action="{% url 'selectTransfer' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="name" value="{{el.name}}">
                            <input type="hidden" name="surname" value="{{el.surname}}">
                            <input type ="hidden" name="phone" value="{{el.phone}}">
                            <div class="block_photo">
                                <button class="buttt" type="submit"><img class="peopimg" src="{{el.photo.url}}" alt=""></button>
                            </div>
                        </form>
                        <p class="people_name">{{el.name}}</p>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
        {% comment %} Конец блока с быстрыми переводами {% endcomment %}
        <div class="currency">
            <div class="curren">
                <div class="rate"><h5 class="h5">Exchange rate</h5></div>
                <div class="evro">
                    <div class="curren-img"><img src="https://cdn.icon-icons.com/icons2/903/PNG/512/euro_icon-icons.com_69531.png" alt=""></div>
                    <div class="course">{{rate.eur_to_usd}} $</div>
                </div>
                <div class="foonts">
                    <div class="curren-img"><img src="https://cdn.icon-icons.com/icons2/903/PNG/512/pound-sterling_icon-icons.com_69475.png" alt=""></div>
                    <div class="course">{{rate.gbp_to_usd}} $</div>
                </div>
            </div>
            <div class="curren">
                <div class="rate"><h5 class="h5">Cryptocurrency rate</h5></div>
                <div class="efir">
                    <div class="curren-img"><img src="{% static "main/Group 52.png"%}" alt=""></div>
                    <div class="course">{{rate.usd_to_ethereum}} $</div>
                </div>
                <div class="bitcoins">
                    <div class="curren-img"><img src="https://cdn.icon-icons.com/icons2/2389/PNG/512/bitcoin_logo_icon_145452.png" alt=""></div>
                    <div class="course">{{rate.usd_to_bitcoin}} $</div>
                </div>
            </div>
            <div class="curren">
                <div class="rate"><h5 class="h5">Valuable metals</h5></div>
                <div class="gold">
                    <div class="curren-img"><img src="https://cdn.icon-icons.com/icons2/1846/PNG/512/goldcart_116169.png" alt=""></div>
                    <div class="course">{{rate.usd_to_gold}} $/1.TrYn</div>
                </div>
                <div class="silver">
                    <div class="curren-img"><img src="https://cdn.icon-icons.com/icons2/1859/PNG/512/goldcart_117956.png" alt=""></div>
                    <div class="course">{{rate.usd_to_silver}} $/1.TrYn</div>
                </div>
            </div>
        </div>
        <div class="opacity-block"></div>
        {% comment %} Конец блока с валютами {% endcomment %}
</div>

{% comment %} Страница транзакций {% endcomment %}




{% endblock%}
